body{
    background: linear-gradient(to bottom, #5dade2, #bfebfd);
    height: 100%; 
}
.img-centro{
    margin: 10px auto 10px;
    display: block;
}
h1{
    font-size: 50px;
    text-align: center;
    color:#C70039;
}

h3{
    color:#FF5733
}
h5{
    color: #196f3d;
}
p{
    font-size: 18px;
    color:#014fec;
    margin-top: 50px;
}
ul{
    font-size: 20px;
    color: #a901ec;
}